services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./api/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - projet-purpledog
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped
    env_file:
      - ./api/.env
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - projet-purpledog
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q http://localhost:8080 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    env_file:
      - ./api/.env
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - projet-purpledog
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q http://localhost:8025 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  projet-purpledog:
    driver: bridge

volumes:
  postgres_data: